page-set {
    background-color: rgb(238,238,238);
    ion-content{
        div{
            margin-bottom:20px;
            ul{
                background-color: white;
                margin:0px;
                padding: 0px;
                color: grey;
            }
            li{
                width: 100%;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                border-bottom: 1px solid gray;
                .ionic0{
                    margin-right: 15px;
                }
                .span1{
                    float: right;
                }
                .icon1{
                    float: right;
                    margin-top: 10px;
                }
    
            }
        }
       .button0{
           background-color: #ffdb2c;
           font-size: 20px;
           color: black;
           height: 50px;
       }
    }
}
