page-entry {
    
    ion-content{
        background-image: url(../assets/imgs/entry-bg.png);
        background-size:cover;
        ul{
            margin-left: -40px;
            ion-icon{
                margin-right: 10px;
                padding-left: 10px;
            }
            li{
                height: 50px;
                width: 100%;
                font-size: 18px;
                color:gray;
                border: 1px solid grey;
                margin-bottom: 10px;
                line-height: 50px;
            }
        }
        .logo{
            text-align: center;
            width: 80px;
            margin:auto;
            margin-top: 50px;
        }
        ion-item{
            background-color: transparent;
            color: black;
        }
        .choice{
            ion-grid{
                background-color: transparent;
                margin:auto;
                margin-left: 25px;
                margin-top: 100px;
                img{
                    width: 60px;
                    height: 60px;
                    background-color: transparent;
                    border-radius: 50px;
                    transform: scale(0.6,0.6);
                }
            }
        }

    }
    ion-footer{
       
     
            .right{
                margin-bottom: 10px;
                float: right;
            }
           
       
    }
}
